@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #000000; 
  --my-custom-green: #0E4D45;
}

.text-custom-green {
  color: var(--my-custom-green);
}

.bg-custom-green {
  background-color: var(--my-custom-green);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}
